<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <link href="../lib/css/bootstrap.min.css" rel="stylesheet"/>
      <link href="../lib/css/bootstrap-theme.min.css" rel="stylesheet"/>
      <link href="../lib/css/type.css" rel="stylesheet"/>
      <link rel="stylesheet" href="../css/homepage.css">
      <script src="../lib/js/jquery-3.2.1.min.js"></script>	
      <script type="text/javascript" src="../lib/js/bootstrap.min.js"></script>
	  <script src="../lib/js/angular.min.js"></script>
      <script src="https://use.fontawesome.com/fd176e8987.js"></script>
	  <script src="../js/lstProController_forHer.js"></script>
      <title>CHANEL</title>
   </head>
   <body>
      <div class="menu-header">
         <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation" >
            <div class="container">
               <!-- Collect the nav links, forms, and other content for toggling -->
               <div class="collapse navbar-collapse navbar-ex1-collapse">
                  <ul class="nav navbar-nav">
                     <li><a href="../index.html">Home</a></li>
                     <li><a href="../WhereToBuy/wheretobuy.html">Store Locator</a></li>
                  </ul>
               </div>
            </div>
         </nav>
      </div>
      <!-- end menu-header -->
      <div class="banner">
         <div class="container">
            <div class="row">
               <div class="col-xs-12 text-center logo-container">
                  <img src="../images/TVBagWorld_logo.png">
               </div>
            </div>
         </div>
      </div>
      <!-- end banner -->
 <div class="main-container container">
   	<header role="banner" id="page-header">
    	<div class="row region region-header">
			<!-- Navigator Men&Women -->
			<section id="block-menu-menu-main-tabs" class="block block-menu header-megamenus clearfix">
				<nav class="yamm" role="navigation">
					<ul class="meganav">
						<!-- Women navigation-->
						<li class="dropdown yamm-fw">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Women</a>
								<div class="dropdown-menu">
									<div class="yamm-content">
										<div class="row">
											<nav class="col-md-6 col-md-push-3">
												<div class="row">
													<div class="col-sm-4">
														<h2>Categories</h2>
														<ul>
															<li><a href="forher.html">New Arrivals</a></li>
														</ul>
													</div>
													<div class="col-sm-4">
														<h2>By Type</h2>
														<ul>
															<li><a href="forher_healthy.html">Textured Nylon</a></li>
														 </ul>
													</div>
													<div class="col-sm-4">
														<h2>By Brand</h2>
														<ul>
															<li><a href="forher_chanel.html">Chanel</a></li>
															<li><a href="forher_lv.html">LV</a></li>
														</ul>
													</div>
												</div>
											</nav>
											<!-- Left Menu Women-->
											<div class="col-md-3 col-md-pull-6 hidden-xs hidden-sm">
												<a href="forher.html" title="Women's Bags">
													<img src="../images/megamenu-women-1.jpg" alt="Women's Bags">
												</a>
											</div>
											<!-- Right Menu Women-->
											<div class="col-md-3 hidden-xs hidden-sm">
												<a href="forher.html" title="Women's Bags">
													<img src="../images/megamenu-women-2bags.jpg" alt="Women's Bags">
												</a>
											</div>
										</div>
									</div>
								</div>
						</li>
						<!-- Man navigation -->
						<li class="dropdown yamm-fw">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Men</a>
							<div class="dropdown-menu">
								<div class="yamm-content">
									<div class="row">
										<nav class="col-md-6 col-md-push-3">
											<div class="row">
												<div class="col-sm-4">
													<h2>Categories</h2>
													<ul>
														<li><a href="../ForHim/forhim.html">New Arrivals</a></li>
													</ul>
												</div>
												<div class="col-sm-4">
													<h2>By Type</h2>
														<ul>
															<li><a href="../ForHim/forhim.html">Microfibre</a></li>
														</ul>
												</div>
												<div class="col-sm-4">
													<h2>By Brand</h2>
													<ul>
														<li><a href="../ForHim/forhim.html">Nike</a></li>
														<li><a href="../ForHim/forhim.html">Chanel</a></li>
													</ul>
												</div>
											</div>
										</nav>
										<div class="col-md-3 col-md-pull-6 hidden-xs hidden-sm">
											<a href="../ForHim/forhim.html" title="Men's Bags">
												<img src="../images/megamenu-men-1.jpg" alt="Men's Bags">
											</a>
										</div>
										<div class="col-md-3 hidden-xs hidden-sm">
											<a href="../ForHim/forhim.html" title="Men's Bags">
												<img src="../images/megamenu-men-2bags.jpg" alt="Men's Bags">
											</a>
										</div>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</nav>
			</section>
		</div>
	</header>		
	</div>
      <!--content-->
      <div class="container">
         <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
               <h2>ALL BAGS CHANEL</h2>
               <hr>
               <img src="images/banner-chanel.jpg" alt="">
            </div>
         </div>
		<!-- Product Content--> 
         <div ng-app="myApp" ng-controller="myCtrl">
         <div class="view-content">
            <div class="item-list">
               <ul class="grid-products row break-large" >
							<div class = "row">
				<!-- Search text box-->
               <section id="block-search-form" class="block block-search header-search clearfix">
					<div class="input-group">
                        <input title="Enter the terms you wish to search for." placeholder="Search" class="form-control form-text" type="text" 
                              id="edit-search-block-form--2" name="search_block_form" value="" size="15" maxlength="128" ng-model="searchName"/>
                    </div>
               </section>
			</div>
				  <li class="col-xs-6 col-sm-4 col-lg-3 views-row" ng-repeat="x in products |filter: 'chanel'| filter:searchName">
                     <div class="product-image">
                        <a ng-href="{{x.href_product }}">
                        <img typeof="foaf:Image" ng-src="{{x.images}}" alt="{{x.name}}"></a>
                     </div>
                     <h2><a ng-href="{{x.href_product}}">{{x.name}}</a></h2>
                     <span class="price">{{x.price}}</span>
                  </li>
               </ul>
            </div>
         </div>
		 </div>
      </div>
      <!-- Footer -->
 	      <footer class="site-footer">
         <div class="container">
            <div class="row xyz">
               <div class="col-xs-6">
                  <div class="region region-footer-thirdcolumn">
                     <section id="block-menu-menu-footer-menu-3" class="block block-menu clearfix">
                        <h2 class="block-title">About us</h2>
                        <ul class="menu nav">
                           <li class="first leaf"><a href="../aboutus.html">Introduction</a></li>
                           <li class="leaf"><a href="../ourstory.html">Our Story</a></li>
                        </ul>
                     </section>
                     <!-- /.block -->
                  </div>
               </div>
			   <div class="col-xs-6">
                  <div class="region region-footer-thirdcolumn">
                     <section id="block-menu-menu-footer-menu-3" class="block block-menu clearfix">
                        <h2 class="block-title">Contact us</h2>
                        <ul class="menu nav">
                           <li>
								<i class="fa fa-facebook" style="font-size:25px; padding-right:5px;" aria-hidden="true" title="Facebook"></i>
								<a href="https://www.facebook.com/">Facebook</a>
							</li>
                           <li>
								<i class="fa fa-instagram" style="font-size:25px;padding-right:5px;" aria-hidden="true"title="Instagram"></i>
								<a href="https://www.instagram.com/">Instagram</a>
							</li>
						   <li>
								<i class="fa fa-twitter" style="font-size:25px;padding-right:5px;" aria-hidden="true"title="Twitter"></i>
								<a href="https://www.twitter.com/">Twitter</a>
							</li>
						   <li><i class="fa fa-tumblr" style="font-size:25px;padding-right:5px;" aria-hidden="true"title="Tumblr"></i>
								<a href="https://www.tumblr.com/">Tumblr</a>
							</li>
                        </ul>
                     </section>
                     <!-- /.block -->
                  </div>
               </div>
            </div>
            <!-- /.row -->
            <div class="row">
               <div class="col-sm-12 text-center">
                  <div class="region region-footer-payment-methods">
                     <section id="block-block-14" class="block block-block payment-block clearfix">
                        <ul>
                           <li class="fa fa-paypal" style="font-size:35px; margin-left: 10px;" title ="Paypal"></li>
                           <li class="fa fa-cc-mastercard" style="font-size:35px; margin-left: 10px;" title ="Mastercard"></li>
                           <li class="fa fa-cc-visa" style="font-size:35px; margin-left: 10px;" title ="Visa"></li>
                           <li class="fa fa-credit-card" style="font-size:35px; margin-left: 10px;" title ="Credit Card" ></li>
                        </ul>
                     </section>
                     <!-- /.block -->
                  </div>
               </div>
            </div>
            <!-- /.row -->
            <div class="row">
               <div class="col-sm-12 text-center">
                  <div class="region region-footer">
                     <section id="block-block-9" class="block block-block clearfix">
                        <p>© The Healthy Back Bag Company 2017. 590 CMT8,HoChiMinh City, VietNam. Tel: +84 123456789</p>
                        <p class="p1">TVBagWorld (VN) Ltd trading as Bag Company is a subsidiary of VietBag, Inc.</p>
                        <ul class="list-inline">
                           <li>Registered in VietNam</li>
                           <li>Vat No. VN 2564789</li>
                        </ul>
                     </section>
                  </div>
               </div>
            </div>
         </div>
      </footer>
   </body>
</html>